.f1{
    background-image: url(../images/Banner\ Image.png);
    width:1320px;
    height: 600px; 
    margin:50px auto 150px;

}
.f2{
    /* width: 802.9px;
    height: 500px; */
    margin:50px auto 150px;
}

.fh2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    text-shadow:1px 1px #FF0000;

}
.fh3{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 33px;
    text-shadow:3px 3px #FF0000;
    
}

.sh4{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
  
}
.sh5{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.sh6{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 4px;
}
.im1{
    width: 802.9px;
    height: 500px;
    margin:50px auto 150px;
}

.section3{
    background-image: url(../images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin:50px auto 150px;


}
.t1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding: 126px 552px 24px 126px;
    /* padding-top: 126px;
    padding-right: 552px;
    padding-bottom: 24px;
    padding-left: 126px; */
}
.t2{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 497px 0px 126px;
    

}
.btn1{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    background-color: transparent;
    margin: 30px 1059px 0px 158px;
}

.section4{
    
    width: 1320px;
    height: 482px;
    margin:50px auto 150px;
    /* background-color: lightgray; */
    /* fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */
    background-image: linear-gradient(to right, rgba(255,0,0,0), lightgray);
    

}
.p1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    padding: 100px 386px 5px 385px;
}
.sp1{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
}
.p2{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    padding: 0px 386px 5px 385px;
}

.btn2{
    border-radius: 8px;
    background-color: #F00;
    color: #FFF;
    padding: 16px 32px;
    margin-left: 620px;
    
}

.container1{
    width: 1320px;
    height:463px;
    margin:50px auto 150px;
    /* border: 1px solid royalblue; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
  
    
}
/*  */
.column1{
    max-width: 393px;
    
}
.a{
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    margin-top: 80px;

   
}
.b{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 8px;
    margin-bottom: 5px;
}
.c{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
   

}

.im2{
    width: 364.844px;
    height: 364.844px;
    border: 10px solid red;
    border-radius: 364.844px;
    padding: 18px;
    
}
/*  */
.d{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
 
}
.e{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;

}
.img3{
    width: 140px;
    height: 140px;
}

.container2{
    width: 1320px;
    margin:50px auto 150px;
    /* border: 1px solid royalblue; */

    
}
.f{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
   
}
.holi{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}
.g{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
}
.para{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 60px;
   
}
/* .newbg{
    background-image: url(../images/Group\ 75.png);
    width: 429px;
    height: 433px;
} */
.imgs{
    background-image: url(../images/Rectangle\ 1.png), url(../images/Rectangle\ 2.png);
    background-position: right top, bottom;
    background-repeat: no-repeat;
    padding-top: 188px;
    
}
.c1{
    width: 445px;
    height: 428px;
    margin-left: 80px;
    margin-bottom: 40px;
}
.c2{
    margin-bottom: 150px;
    margin-left: 200px;
   
}

.container3{
    width: 1320px;
    margin:50px auto 150px;
    /* border: 1px solid royalblue; */

    
}
.j{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5x;
}
.k{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 3px;
    margin-bottom: 5px;
}
.po{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
   
}
.txt{
    padding: 2px;
}

.y1{
    width: 424px;
    height: 450px;
    border: 1px solid whitesmoke;
    border-radius: 16px;
    padding: 5px;
}

.img2{
    display: inline-block;
}

.img2 .y1:hover{
    background-color: aqua;
}

.container4{
    width: 1320px;
    margin:50px auto 150px;
    
    

}

.hh{
    width: 150px;
    height: 150px;
    margin-left: 550px;
}

.nh1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-align: center;

}
.gg{
    
    /* width: 896px; */
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    text-align: center;
   
}

.inpr{
    width: 450px;
    height: 72px;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    margin-left:300px;
    margin-top: 20px;
}
.bt{
    width: 210px;
    height: 72px;
    margin-top: 20px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}
.button3{
    display: flex;
}

.fot{
    background-color: #070211;

}

.ft1{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    margin-left: 140px;
}
.ht{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    margin-left: 10px;
}
/* .fot{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.leo{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tw1{
    display: flex;
    justify-content: center;
    align-items: center;

}
.two{
    margin-right: 275px;
    margin-top: 50px;
}

.o{
    width: 24px;
    height: 24px;
}

.line{
    width: 1320px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
    display: block;
    margin: 5px auto 10px;
}
.sec{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.v1{
    padding: 10px;
}

.last{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oo{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin: 30px 280px 80px 140px;
 
}